# For SQLITE (Can be the same db as both are using synchronous connections)
# MAIN_SERVER_DATABASE_URL=sqlite:///agent_management.db
# AGENT_SERVER_DATABASE_URL=sqlite:///agent_management.db

# For Postgre (Different dbs as agent_server is using asynchronous connections with postgre and mysql)
# MAIN_SERVER_DATABASE_URL=postgresql://postgres:admin@localhost:5432/agent_management
# AGENT_SERVER_DATABASE_URL=postgresql+asyncpg://postgres:admin@localhost:5432/agent_server
MAIN_SERVER_DATABASE_URL=
AGENT_SERVER_DATABASE_URL=

# ENV can be DEV, STAGE, PROD
ENV=

# Launch Agents with A2A Protocol (True/False)
A2A=

# Encryption key for API keys (must be 32 bytes for AES-256)
# Use a Fernet key generator once, then store it in your .env.
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
ENCRYPTION_KEY=

# Model to be used for session summarization (optional)
SUMMARIZER_MODEL=